.navbar{
    background-color: $mainColor;
    max-width: 1400px;
    height: 5rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   // align-items: baseline;
    padding: 1rem;
    overflow:visible;

    position: sticky;

}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;

    li{
        margin: 0rem 1rem 0rem 1rem;
    }
    
    
    &__name{
        color: white;
        font-size: 1.5rem;
        height: fit-content;
        padding: 0.2rem;
        text-align: center;

        &:hover{
            color: $mainColor;
            background-color: rgba(224, 224, 224, 0.648);
            border-radius: 0.5rem;
        }
    }
    
    
    &__list{
        display: none;
    }
    
    & .active{
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5);
        background-color: rgba(255, 255, 255);
        max-height: 50vh;
        overflow-y: scroll;
        
        li{
            margin-bottom: 0.5rem;
            a{
                font-size: 1.5rem;
            }

            &:hover{
                color: $mainColor;
                background-color: rgba(224, 224, 224, 0.648);
            }
        }
    }
    
    & .active::-webkit-scrollbar{
        width: 0.3rem;
    }
    & .active::-webkit-scrollbar-thumb{
        background-color:$mainColor;
        border-radius: 1rem;
        
    }
    
}