.item_card{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    padding: 1rem;   
}

.item_card:hover{
    background-color: rgb(240, 240, 240);
}


.item_img{
    width: 200px;
    margin: auto;
}

.item_tittle{
    font-size: 2rem;
    font-weight: 400;
    text-align: center
}
.item_desc{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
    
}
.item_cod{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}
.item_color{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}

.item_linkFotos{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: red;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.item_linkFotos:hover{
    background-color: #aaaaaa4d;
}


.item_price{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.2rem;
    margin-bottom: 1rem;
    
}
.item_stock{
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
} 



@media screen and (max-width: 1024px) {

    .itemList{
        max-width: 80vw;
        grid-template-columns: auto auto ; 
    }

    .item_tittle{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center
    }

    .item_img{
        
        margin: 1rem auto auto auto;
    }

    .item_desc{
        font-size: 1.8rem;
        
    }

    .item_cod{
        font-size: 1.6rem;
      
    }
    .item_color{
        font-size: 1.6rem;
    }
       
  }

@media screen and (max-width: 525px) {

    .itemList{
        max-width: 90%;
        grid-template-columns: 1fr;
    }

    .item_tittle{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center
    }

    .item_img{
        width: 70vw;
        margin: 1rem auto auto auto;
    }

    .item_desc{
        font-size: 1.8rem;
        
    }

    .item_cod{
        font-size: 1.6rem;
      
    }
    .item_color{
        font-size: 1.6rem;
    }
       
  }

 